/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: purple;}
h2 {
  position: relative;
  display: inline-block;
}
h2:after {
  content: " ";
  display: inline-block;
  background-color: rgba(255, 0, 0, .25);
  position: absolute;
  top: .5em;
  left: -.125em;
  right: -.125em;
  height: .3em;
}